<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="../CSS/style.css" />
    <link rel="stylesheet" href="../CSS/browse-order.css" />
    <title>AutoHub Sales - Browse Vehicles</title>
  </head>
  <body>
    <div class="container">
      <div class="vehicles">
        <div class="cars">
          <h1>Cars</h1>
          <a href="shopping-cart.html"><img src="../Images/arrow.svg" /></a>
        </div>
        <div class="trucks">
          <h1>Trucks</h1>
          <a href="shopping-cart.html"><img src="../Images/arrow.svg" /></a>
        </div>
        <div class="buses">
          <h1>Buses</h1>
          <a href="shopping-cart.html"><img src="../Images/arrow.svg" /></a>
        </div>
      </div>
      <div class="home-button">
        <button class="buttons">
          <a href="homepage.html">Back to HomePage</a>
        </button>
      </div>
    </div>
  </body>
</html>
