<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="../CSS/checkout.css" />
    <link rel="stylesheet" href="../CSS/style.css" />
    <title>AutoHub Sales - Checkout</title>
  </head>
  <body>
    <div class="container">
      <h1>Checkout</h1>
      <div class="formContainer">
        <form class="formGrid">
          <div class="name">
            <label for="name">Name:</label>
            <input
              type="text"
              id="name"
              name="name"
              required
              placeholder="Enter Your Name"
            />
          </div>
          <div class="address">
            <label for="address">Address:</label>
            <input
              type="text"
              id="address"
              name="address"
              required
              placeholder="Enter Your Complete Address"
            />
          </div>
          <div class="city">
            <label for="city">City:</label>
            <input
              type="text"
              id="city"
              name="city"
              required
              placeholder="Enter Your City Name"
            />
          </div>
          <div class="country">
            <label for="country">Country:</label>
            <input
              type="text"
              id="country"
              name="country"
              required
              placeholder="Enter Your Country Name"
            />
          </div>
          <div class="cCode">
            <label for="cCode">Country Code:</label>
            <input
              type="text"
              id="cCode"
              name="cCode"
              required
              placeholder="Enter Your Country Code"
            />
          </div>
          <div class="phone">
            <label for="phone">Phone Number:</label>
            <input
              type="text"
              id="phone"
              name="phone"
              required
              placeholder="Enter Your Phone Number"
            />
          </div>
          <!-- <button type="submit">Submit</button> -->
        </form>
      </div>
      <div class="bottom">
        <button class="buttons">
          <a href="shopping-cart.html">Back to Shopping Cart</a>
        </button>
        <button class="buttons">
          <a href="payment.html">Proceed to Payment</a>
        </button>
      </div>
    </div>
  </body>
</html>
