<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="../CSS/style.css" />
    <link rel="stylesheet" href="../CSS/home.css" />
    <title>Auto Hub Sales - Home</title>
  </head>
  <body>
    <div class="container">
      <div class="header">
        <h1>
          AutoHub <br />
          Sales
        </h1>
        <p>
          Car, Trucks, and Buses - Your Journey <br />
          Starts Here!
        </p>
      </div>
      <div class="signOptions">
        <button type="button" class="buttons">
          <a href="login-page.html">Login</a>
        </button>
        <button type="button" class="buttons">
          <a href="signup-page.html">Sign Up</a>
        </button>
      </div>
    </div>
  </body>
</html>
