<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="../CSS/style.css" />
    <link rel="stylesheet" href="../CSS/login.css" />
    <title>AutoHub Sales - Sign In</title>
  </head>
  <body>
    <div class="container">
      <div class="form">
        <h1>Sign In</h1>
        <form action="#">
          <label for="username">Username: </label>
          <input
            type="text"
            name="text"
            id="username"
            placeholder="Enter Your Username"
          />
          <label for="password">Passowrd: </label>
          <input
            type="password"
            name="password"
            id="password"
            placeholder="Enter Your Password"
          />
        </form>
        <div class="formButton">
          <button type="button" class="buttons">
            <a href="signup-page.html">Create Account</a>
          </button>
          <button type="button" class="buttons"><a href="#">Sign In</a></button>
        </div>
        <button type="button" class="buttons">
          <a href="homepage.html">Back To HomePage</a>
        </button>
        <button type="button" class="buttons">
          <a href="browse-order-page.html">Browse and Order</a>
        </button>
      </div>
    </div>
  </body>
</html>
