<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="../CSS/order-details.css" />
    <link rel="stylesheet" href="../CSS/style.css" />
    <title>AutoHub Sales - Order Details</title>
  </head>
  <body>
    <div class="container">
      <div class="top">
        <h2>Your Order Has Been Confirmed</h2>
        <img src="../Images/confirmed.png" alt="" />
      </div>
      <div class="order-summary">
        <div class="cart">
          <img src="../Images/cart.svg" alt="" />
          <h1>Order Summary</h1>
        </div>
        <div class="line"></div>
      </div>
      <div class="order-detail">
        <div class="products">
          <div class="prod1">
            <img src="../Images/kia-car.jpeg" alt="" />
            <div class="prodName">
              <h2>Kia Sportage</h2>
              <h3>F - 2020</h3>
            </div>
            <div class="itemNum">
              <p>Quantity:1</p>
            </div>
            <div class="last">
              <p class="prodAmount">10000$</p>
            </div>
          </div>
          <div class="prod1">
            <img src="../Images/scania-truck.png" alt="" />
            <div class="prodName">
              <h2>Scania R50</h2>
              <h3>G - 2022</h3>
            </div>
            <div class="itemNum">
              <p>Quantity:2</p>
            </div>
            <div class="last">
              <p class="prodAmount">15000$</p>
            </div>
          </div>
          <div class="total">
            <div class="divider"></div>
            <div class="itemCount">
              <h3>Total</h3>
              <h3>25000$</h3>
            </div>
          </div>
        </div>
      </div>
      <div class="order-summary">
        <div class="cart">
          <img src="../Images/person-notepad.svg" alt="" />
          <h1>Order details</h1>
        </div>
        <div class="line"></div>
      </div>
      <div class="details">
        <div class="info">
          <h3>Personal Information</h3>
          <h4>Name: John Wick</h4>
          <h4>Phone: 03XX-XXXXXXX</h4>
        </div>
        <div class="info">
          <h3>Shipping Address</h3>
          <h4>
            Address:House#0 Street-0, x town, y city <br />
            z country, xxxxx postal code
          </h4>
        </div>
        <div class="info">
          <h3>Shipping Method</h3>
          <h4>Debit Card ( Visa )</h4>
        </div>
        <button class="buttons">
          <a href="browse-order-page.html">Continue Shopping</a>
        </button>
      </div>
    </div>
  </body>
</html>
