<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="../CSS/shopping-cart.css" />
    <link rel="stylesheet" href="../CSS/style.css" />
    <title>AutoHub Sales - Shopping Cart</title>
  </head>
  <body>
    <div class="container">
      <div class="top">
        <h1>Shopping Cart</h1>
        <h1>Remove All</h1>
      </div>
      <div class="products">
        <div class="prod1">
          <img src="../Images/kia-car.jpeg" alt="" />
          <div class="prodName">
            <h2>Kia Sportage</h2>
            <h3>F - 2020</h3>
          </div>
          <div class="itemNum">
            <button>+</button>
            <p>1</p>
            <button>-</button>
          </div>
          <div class="last">
            <p class="prodAmount">10000$</p>
            <p class="removeProd">Remove</p>
          </div>
        </div>
        <div class="prod1">
          <img src="../Images/scania-truck.png" alt="" />
          <div class="prodName">
            <h2>Scania R50</h2>
            <h3>G - 2022</h3>
          </div>
          <div class="itemNum">
            <button>+</button>
            <p>1</p>
            <button>-</button>
          </div>
          <div class="last">
            <p class="prodAmount">15000$</p>
            <p class="removeProd">Remove</p>
          </div>
        </div>
        <div class="divider"></div>
        <div class="total">
          <div class="itemCount">
            <h1>Sub Total</h1>
            <h3>Two - Items</h3>
          </div>
          <div class="totalAmount">
            <h1>25000$</h1>
          </div>
        </div>
      </div>
      <div class="bottom">
        <button class="buttons">
          <a href="browse-order-page.html">Back</a>
        </button>
        <button class="buttons"><a href="checkout.html">Checkout</a></button>
      </div>
    </div>
  </body>
</html>
