<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="../CSS/style.css" />
    <link rel="stylesheet" href="../CSS/signup.css" />
    <title>AutoHub Sales - Sign Up</title>
  </head>
  <body>
    <div class="container">
      <div class="form">
        <h1>Sign Up</h1>
        <form action="#">
          <label for="username">Username: </label>
          <input
            type="text"
            name="text"
            id="username"
            placeholder="Enter Your Username"
          />
          <label for="email">E-mail: </label>
          <input
            type="email"
            name="email"
            id="email"
            placeholder="Enter You Email"
          />
          <label for="password">Passowrd: </label>
          <input
            type="password"
            name="password"
            id="password"
            placeholder="Enter Your Password"
          />
          <label for="confirmPass">Confirm Passowrd: </label>
          <input
            type="password"
            name="password"
            id="confirmPass"
            placeholder="Confirm Your Password"
          />
        </form>
        <div class="formButton">
          <button type="button" class="buttons">
            <a href="login-page.html">Proceed to sign in</a>
          </button>
          <button type="button" class="buttons"><a href="#">Sign Up</a></button>
        </div>
        <button type="button" class="buttons">
          <a href="homepage.html">Back To HomePage</a>
        </button>
      </div>
    </div>
  </body>
</html>
